.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 18% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
}