@import url(http://fonts.googleapis.com/css?family=Oswald);
body {

  background-image: url('../images/pattern.gif');
  font-family: 'Oswald', 'Futura', sans-serif;
  margin: 0;
  padding: 0;}
 #page {
   background-color:#d3d3d3 ;
   margin: 100px auto 200px auto;
      max-width :20 %;
   }
   h1 {
    background-image: url('../images/header.gif');
    text-align :center;
    color:black;
}

form {
  background-image: url('../images/pattern.gif');}
    label {
      color: #fff;
      display: block;
      margin: 10px 0 10px 0;
      font-size: 24px;}
      input[type='text'], input[type='password'] {
        background-color: #999;
        color: #666;
        font-family: 'Oswald', 'Futura', sans-serif;
        font-size: 24px;
        width: 96%;
        padding: 4px 6px;
        border: 1px solid #999;
        border-radius: 8px;}

        border: 1px solid #fff;
      input[type='text']:focus, input[type='password']:focus {
        background-color: #fff;
        outline: none;}

      input[type='submit']{
        background-color: blue;
        color: #f3dad1;
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        margin-top: 10px;
        float: right;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;}
         #signup_button,#login_button {
          background-color: blue;
                 color: #f3dad1;
                 border: none;
                 border-radius: 5px;
                  font-size: 18px;
                         text-decoration: none;
                         text-transform: uppercase;

         }
         #login_button{
         float:left;

         }
         #signup_button{
         float:right;
         }
      input[type='submit']:hover,#signup_button,#login_button {
        background-color: blue;
        color: #f3dad1;
        cursor: pointer;
        box-shadow: none;
        position: relative;
        top: 1px;}
#feedback_email,#feedback_pass,#feedback_user {
  color: #fff;
  background-image: url('../images/warning.png');
  background-repeat: no-repeat;
  background-position: 2px 14px;
  padding: 10px 0 0 22px;}
               #first {

                               float :left;
                                   padding: 45px 0px 0px 200px;
                                       }
                                       #second {
                                       float :right ;

                        padding: 45px 200px 0px 0px;
                                       }
			 legend {

			      font-size: 24px;
				 font-style:italic;
				 color:black;}
				
#body #page {margin-top: 130px;}
table {            margin : auto ;
				 padding :10px 10px 10px 10 px;
				 }
			 th, td {
				 padding: 5px 30px 5px 10px;
				 border-spacing: 0px;
				 font-size:  150%;
				 margin: 0px;}
			 th, td {
				 text-align: left;
				 background-color: #e0e9f0;
				 border-top: 1px solid #f1f8fe;
				 border-bottom: 1px solid #cbd2d8;
				 border-right: 1px solid #cbd2d8;}
			 tr.head th {
				 color: black;
				 background-color:  #403c3b;
				 border-bottom: 2px solid #547ca0;
				 border-right: 1px solid #749abe;
				 border-top: 1px solid #90b4d6;
				 text-align: center;
				 text-shadow: -1px -1px 1px #666;
				 letter-spacing: 0.15em;}
				 td {
                 				 text-shadow: 1px 1px 1px #fff;}
